<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
	background-image: url('https://images.alphacoders.com/695/thumb-1920-69561.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#roundedcorner {
    border-radius: 25px;
    background: LightGray;
    padding: 20px;
}

h1 {
	text-align:center;
}
p {
	text-align:center;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</style>
</head>
<body>
    <h1 id="roundedcorner">Namaku {{ my_name }}</h1>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/35403897_2108381965857684_5426073025327923200_n.jpg?_nc_cat=0&oh=ef3485725b6ca8a674641c077a2ccb79&oe=5C22C41C" 
	alt="Me" style="width:400px;height:400px;"/>
    <p id="roundedcorner">NPM : {{ my_npm }}<br>
    Udah {{ my_age }} tahun saya<br>
	Kuliahnya di {{ study }}<br>
	Sukanya {{ my_hobby }}<br>
	{{ my_description }}</p>
	
	<h1 id="roundedcorner">Ini adalah temenku, namanya {{ name1 }}</h1>
	<img src="https://doc-08-3o-docs.googleusercontent.com/docs/securesc/b473l2drkfb6t5nncut281dhmotf47v4/da8r7vbtop5ghps0app7ovsir608st5t/1536213600000/15479489624181800216/15896807478038105536/1isGq93xU7QKEN6P-1txBuQEyoIL_RSec?nonce=gum7belqff1ju&user=15896807478038105536&hash=c4lbv6orhpul0u3rfades32kh2mrhvji"
	 alt="Anthony" style="width:400px; height:400px;"/>
	<p id="roundedcorner"> NPM : {{ npm1 }}<br>
	{{ age1 }} umurnya, masih muda ya<br>
	Kuliahnya sama di {{ study }}<br>
	Hobi na suka {{ hobby1 }}<br>
	{{ description1 }}
	</p>
	
	
	<h1 id="roundedcorner">Satu lagi temenku, namanya {{ name2 }}</h1>
	<img src="https://doc-14-3o-docs.googleusercontent.com/docs/securesc/b473l2drkfb6t5nncut281dhmotf47v4/ck2284s7o0afoj62n1hrct8c99uv8ebu/1536213600000/15479489624181800216/15896807478038105536/1G3TmzMRGPepvyXbPoE-lcx37QZIXChOM"
	alt="Fahmi" style="width:400px; height:400px;"/>
	<p id="roundedcorner"> NPM : {{ npm2 }}<br>
	umurnya {{ age2 }}<br>
	Sama juga belajarnya di {{ study }}<br>
	sukanya {{ hobby2 }}<br>
	{{ description2 }}
	</p>
</body>
</html>
